body {
    width: 80%;
    margin: 0 auto;
}

#banner {
    width: 100%;
}
img.square {
    width: 400px;
    object-fit: cover;
    height:400px;
}

#toc {
    background-color: hsl(146, 60%, 35%);
    border: 1px solid #2ace2f;
    display: table;
    padding: 1em;
}

#toc a {
    text-decoration: none;
}

.tocnumber {
    color: black;
}